#Updated config values
#Sun Sep 06 17:14:52 BST 2026
hide_discpack_settings=true
starting_item_id=25000
use_song_as_item_name=true
silence_image_file_warnings=false
loop_disc_audio=false
do_lootgen=true
